$white: #FFFFFF;
$black: #000000;
$blackForTitle: #323232;
$gray: #999999;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1110px;
}

.main-section {
  min-height: 900px;
  background: url("../img/main_background.png") no-repeat;
  background-size: cover;

}

.main-header {
  display: block;
  padding: 40px 0px 40px 500px;
  color: $white;
}
.header_elements{
  margin: 0;
}

.header_elements li{
  display: inline-block;

  padding-right: 40px;
  color: #FFFFFF;

  font-weight: 500;
  font-size: 16px;
  line-height: 0;

  a:active, /* активная/посещенная ссылка */
  a:hover,  /* при наведении */
  a {
    text-decoration: none;
    color: #FFFFFF;;
  }
}

.touch-line {
  border-bottom: 2px solid #FFFFFF;
  width: 107px;
  margin-left: 902px;
}

.header_elements li:last-child{
  padding: 0;
}

.line {
  margin: 0;
  opacity: 0.5;
  border: 1px solid #A1A1A1;
}

.main-section-description {
  margin-top: 220px;
  text-align: center;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: $white;
}

.main-section-title {
  text-align: center;
  margin: 20px 195px 0 195px;

  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  text-align: center;

  color: #FFFFFF;
}

.primary_button {
  display: block;
  width: 200px;

  padding: 14px 0px;

  background: #4985FF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;

  color: #FFFFFF;
}

.main-btn {
  margin: 0 auto;
  margin-top: 50px;
}

.mobile-app-section-container {
  padding: 110px 0 105px 0;
}

.mobile-app-section-title {
  display: block;
  margin: 0 290px;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-align: center;

  /* dark */

  color: #323232;
}

.description-text-16px {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.description-text-14px {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #999999;
}

.mobile-app-section-description {
  display: block;
  margin: 50px 190px 0 190px;

  text-align: center;
}

.mobile-app-section-icon-container {
  margin-top: 70px;
}

.mobile-app-section-icon-main-benefit {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 25px;
  width: 110px;
  height: 110px;
  padding: 10px;
  border: 1px solid #E0E0E0;
  border-radius: 50%;
}

.mobile-app-section-icon-child-benefit {
  padding: 25px;

  width: 90px;
  height: 90px;
  border: 1px solid #4985FF;
  border-radius: 50%;
}

.mobile-app-section-icon {
  width: 40px;
  height: 40px;
  background: url("../icons/chertej.png");
}

.mobile-app-section-icon-title {
  display: inline-block;

  margin: 70px 0 0 17px;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.mobile-app-section-icon-description {
  padding-right: 40px;
}

.mobile-app-section-btn {
  margin: 0 auto;
  margin-top: 55px;
}

.development-standards-section {
  background: #F6F6F8;
}

.development-standards-section-container {
  padding: 80px 0 70px 0;
}

.development-standards-section-title {
  margin-top: 72px;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #323232;
}

.development-standards-section-descriprion {
  margin-top: 40px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
}

.development-standards-section-link {
  margin-top: 30px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #4985FF;
}

.underline {
  margin-top: 90px;
  border: 1px solid #E0E0E0;
}

.development-standards-section-icon {
  display: inline-block;

  width: 30px;
  height: 30px;
  background: url("../icons/web-programming.png");
}

.development-standards-section-icon-title {
  display: inline-block;
  margin-left: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #000000;
}

.services-section {
  max-height: 490px;
  background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;;
}

.services-section {
  padding-top: 100px;
}

.services-section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}

.services-section-button {
  margin-top: 20px;
}

.services-section-cards {
  margin-top: 70px;
}

.services-section-card-title {
  margin-top: 30px;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.services-section-card-title .internal-text {
  color: #4985FF;
}

.services-section-card-link {
  margin-top: 30px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-decoration-line: underline;
  color: #4985FF;
}

.underline {
  margin: 85px 0;
}

.ours-projects-section {
  margin-top: 561px;
  background: #F6F6F8;
}

.ours-projects-section-container {
  padding: 100px 0 130px 0;
}

.ours-projects-section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #000000;
}

.ours-projects-section-description {
  text-align: center;
  margin: 50px 190px 0 190px;
}

.ours-projects-section-image {
  margin-top: 70px;
}

.ours-projects-section-button {
  margin: 0 auto;
  margin-top: 50px;
}

.about-us-section {
  max-height: 570px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)),
  url("../img/video_about_job_bcg.png") no-repeat;
  background-size: cover;
  z-index: 1;
}

.about-us-section-container {
  padding: 70px 0 85px 0;
}

.about-us-section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #FFFFFF;
}

.about-us-section-description {
  margin-top: 30px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
}

.about-us-section-img-video {
  text-align: center;

  min-height: 430px;
  margin: 70px 0px 85px 70px;
  padding: 165px 335px;
  background: url("../img/big_city.png") no-repeat;
  z-index: 2;
}

.about-us-section-video-btn {
  text-align: center;

  width: 300px;
  height: 100px;

  border: 1px solid #FFFFFF;
  border-radius: 200px;
}

.about-us-section-video-launch-btn {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 20px 20px 20px 40px;

  background: #4985FF;
  border-radius: 50%;
}

.about-us-section-video-launch-btn-description {
  display: inline-block;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  color: #FFFFFF;
}

.about-us-section .underline {
  margin: 0;
}

.feedback-container {
  margin-top: 250px;
  padding: 15px 0;
}

.about-us-section-feedback-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #000000;
}

.about-us-section-feedback-description {
  margin-top: 20px;
  text-align: center;
  text-align: center;
}

.about-us-section-feedback-input-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.about-us-section-feedback-input {
  display: inline-block;
  width: 300px;
  padding: 11px 0px 11px 33px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #999999;

  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px 0px 0px 30px;
}

.about-us-section-feedback-input-btn {
  display: inline-block;
  width: 190px;
  padding: 11px 36px 11px 26px;
  border: none;

  background: #4985FF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 0px 30px 30px 0px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: #FFFFFF;
}

.about-us-section-feedback-warning {
  margin: 35px 0 0 0;
  padding-bottom: 85px;

  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #999999;
}

.footer {
  background: #F6F6F8;
}

.footer-title {
  margin-top: 70px;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.footer-msg {
  &.footer-msg::before{
    content: url("../icons/footer_msg.png");
  }
  margin-top: 35px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #999999;

    a{
      margin-left: 15px;
      color: #999999;
      text-decoration: none;
    }
}

.footer-call {
  &.footer-call::before{
    content: url("../icons/footer_call.png");
  }
  margin-top: 30px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #999999;

  a{
    margin-left: 15px;
    color: #999999;
    text-decoration: none;
  }
}

.footer-place {
  &.footer-place::before{
    content: url("../icons/footer_placeholder.png");
  }

  margin-top: 30px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #999999;

  a{
    margin-left: 15px;
    color: #999999;
    text-decoration: none;
  }
}

.footer-content-items {
  &.footer-content-items::before{
    content: url("../icons/footer_right-arrow.png");
  }

  margin-top: 30px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #999999;

  a {
    display: block;
    margin-left: 10px;
    color: #999999;
    text-decoration: none;
  }
}

.footer-underline {
  border: 1px solid #E0E0E0;
  margin-top: 70px;
}

.footer-last-string {
  padding: 30px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #999999;
}
