* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container-fluid {
  min-height: 900px;
  background: url("../img/main_background.png") no-repeat; }

.header {
  display: block;
  padding: 40px 0px 40px 602px;
  color: #FFFFFF; }

.header_elements {
  margin: 0; }

.header_elements li {
  display: inline-block;
  padding-right: 40px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 0; }
  .header_elements li a:active,
  .header_elements li a:hover,
  .header_elements li a {
    text-decoration: none;
    color: #FFFFFF; }

.touch-line {
  border-bottom: 2px solid #FFFFFF;
  width: 107px;
  margin-left: 902px; }

.header_elements li:last-child {
  padding: 0; }

.border-line {
  opacity: 0.5;
  border: 1px solid #A1A1A1; }

.main-text-h6 {
  margin-top: 220px;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF; }

.main-title {
  text-align: center;
  margin: 20px 195px 0 195px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  text-align: center;
  color: #FFFFFF; }

.primary_button {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  padding: 14px 36px;
  background: #4985FF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF; }

.second-page-title {
  display: block;
  margin: 110px 200px 0 290px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  /* dark */
  color: #323232; }

.second-page-subtitle {
  display: block;
  margin: 50px 295px 0 295px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #999999; }

.second-page-icon-sector {
  margin-top: 70px; }

.external-rectangle {
  display: inline-block;
  margin-top: 25px;
  width: 110px;
  height: 110px;
  padding: 10px;
  border: 1px solid #E0E0E0;
  border-radius: 50%; }

.internal-rectangle {
  padding: 25px;
  width: 90px;
  height: 90px;
  border: 1px solid #4985FF;
  border-radius: 50%; }

.second-page-icon-title {
  display: inline-block;
  margin: 70px 0 0 17px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000000; }

.second-page-icon-text {
  margin: 12px 70px 0 17px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #999999; }

.second-page .primary_button {
  margin-top: 55px;
  margin-bottom: 105px; }

.third-page {
  min-height: 800px;
  background: #F6F6F8; }

.third-page-title {
  margin-top: 152px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #323232; }

.third-page-text {
  margin-top: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #999999; }

.third-page-link {
  margin-top: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #4985FF; }

.third-page-image-laptop {
  margin-top: 100px; }

.underline {
  margin-top: 90px;
  border: 1px solid #E0E0E0; }

.third-page-web-programming-block {
  margin-top: 100px; }

.third-page-web-programming-icon {
  display: inline-block;
  padding-bottom: 16px; }

.third-page-web-programming-title {
  display: inline-block;
  margin-left: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #000000; }

.third-page-web-programming-text {
  margin: 0px 0 70px 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #999999; }

.fourth-section {
  max-height: 490px;
  background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4; }

.fourth-section-title {
  margin-top: 100px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF; }

.fourth-section-button {
  margin-top: 90px; }

.fourth-section-image-block {
  margin-top: 70px; }

.fourth-section-title-under-image {
  margin-top: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000000; }

.fourth-section-title-under-image .internal-text {
  color: #4985FF; }

.fourth-section-text-under-image {
  margin: 30px 70px 0 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #999999; }

.fourth-section-link-under-image {
  margin-top: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-decoration-line: underline;
  color: #4985FF; }

.underline {
  margin: 85px 0; }

.fifth-section {
  margin-top: 521px;
  background: #F6F6F8; }

.fifth-section-title {
  padding-top: 100px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #000000; }

.fifth-section-text {
  padding-top: 50px;
  margin: 0 295px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #999999; }

.fifth-section-image-block {
  margin-top: 70px; }

.fifth-section-button {
  padding-bottom: 130px; }

/*# sourceMappingURL=main.css.map */
